// Login
.auth {
    width: 100%;
    height: 100vh;
    background-color: #4c2c92;

    &__login-container,
    &__forgot-password-container,
    &__reset-password-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        width: 30%;
        // margin: 100px auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

// ADD EMPLOYEE
.middle-width {

    min-height: 300px;
    width: 60%;
    margin: 0 auto;


    &__add-form {
        padding: 40px 30px;
        background-color: #fff;
        box-shadow: 0 20px 30px rgba($color: #000000, $alpha: .1);
    }

}

// HEADER
#header {
    box-shadow: 1px 2px 13px 1px #0000001f;
}

// CARD
.card-elemement {
    //   background-color: white;
    //   box-shadow: 0 10px 30px rgba($color: #000000, $alpha: .1);
    margin-bottom: 30px;
    border-radius: 5px;
    transition: all .5s;
    border: 1px solid #eee;

    &:hover {
        transform: translateY(-3px);
        //   background-color: red;
        //   color: #fff;
        box-shadow: 0 5px 20px rgba($color: #000000, $alpha: .1);
    }

    &__count,
    &__status {
        border-bottom: 1px solid #eee;
        margin-bottom: 0;
    }

    &__status {
        padding: 8px 20px;
        font-size: 15px;
    }

    &__count {
        padding: 8px 20px;
    }

    &__link {
        font-size: 14px;
        padding: 8px 20px;
        display: block;
        transition: all .3s;

        &:hover {
            color: #377dff;
        }
    }
}